* {
    box-sizing: border-box;
    font-family: 'Hammersmith One', sans-serif;
  }
  
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between; /*make Navigation seperate on the both side of the web*/
    padding: 10px;
    /* the hight of the head */
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0; /*Hearder Stick on the top*/
    background: white; /* background with 0.5 opacity */
    text-decoration: none;
    z-index: 999;
  }
  
  #backlinkUl {
    list-style: none;
    display: flex;
    font-size: 20px;
    color: rgb(92, 91, 91);
  }
  
  /* make the space between linkedin and xing */
  #backlinkUl li {
    margin-left: 5px;
  }
  
  #backlinkUl li a {
    text-decoration: none;
    color: #5CE1E6;
    margin-right: 30px;
  }
  
  #backlink {
    position: absolute;
    right: 1%;
    color: rgb(92, 91, 91);
  }
  
  #backlink ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #backlink a {
    text-decoration: none;
  }
  
  #backlink ul li a:hover {
    color: #5CE1E6;
  }
  
  .logo-text,
  #backlink,
  nav {
    /* text-transform: uppercase; */
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px rgb(196, 192, 192);
  }
  
  /* .toggleMenu {
    left: 0;
  } */
  /* 
  .logo {
    margin: 5% auto;
    width: 400px;
    height: 500px;
  } */
  .logo {
    width: 100%;
    justify-content: flex;
  }
  /* #logo-img {
    width: 180px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 40%;
    margin-bottom: 40%;
  } */
  .logo-text {
    font-size: 100px;
    width: 35%;
  }
  .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FACE45;
  }
  
  #headerSmallSize {
    display: none;
  }
  
  /* body */
  body {
    width: 100%;
  }
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Unlock', cursive;
  }
  
  section #intro {
    height: 100vh;
  }
  
  @media screen and (max-width: 420px) {
    body {
      width: 100%;
    }
  
    /* to hide the original header */
    #headerBigSize {
      display: none;
    }
  
    /* small size for the header */
  
    #headerSmallSize {
      height: 100px;
      width: 100%;
      background-color: #5CE1E6;
      padding: 0px;
      text-decoration: none;
      z-index: 999;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
    }
    .logo {
      display: none;
    }
  
    .logoSmallSize {
      width: 40%;
      justify-content: flex-start;
      margin: 0%;
      display: flex;
    }
    #logo-img-small {
      width: 40%;
      height: 40%;
      margin-right: 10px;
      margin-top: 10%;
      margin-left: 10%;
    }
  
    .logo-text-small {
      font-size: 20px;
      width: 50%;
      margin-top: 15%;
      color: rgb(92, 91, 91);
    }
  
    .logo-text-small,
    #backlinkSmall,
    nav {
      text-transform: uppercase;
      list-style: none;
    }
  
    /* Samll header nav part */
    #backlinkSmall {
      display: inline;
      margin-left: 30%;
      padding: 0%;
      list-style: none;
    }
    #backlinkUlSmall {
      list-style: none;
      font-size: 15px;
      padding: 0px;
      color: rgb(92, 91, 91);
    }
  
    #backlinkUlSmall li {
      margin-left: 5px;
      margin-bottom: 8px;
    }
    #backlinkUlSmall li a {
      text-decoration: none;
      color: rgb(92, 91, 91);
    }
  
    .logo-text,
    #backlink,
    nav {
      /* text-transform: uppercase; */
      text-shadow: none;
    }
  }
  
  /* workhard part */
  
  .profile1 {
    margin-top: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-image: url("../img/topimg3.gif"); */
    background-repeat: no-repeat;
    letter-spacing: 3px;
  }
  
  .duck3 {
    position: sticky;
    bottom: -2rem;
    align-self: center;
    height: auto;
    width: 150px;
    top: 40%;
    margin-left: -80px;
    z-index: 2
  }
  
  .workhard {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  .workhardImg,
  .playhardImg {
    width: 99%;
    height: auto;
  }
  .workhard h2 {
    font-size: 40px;
    /* text-shadow: 3px 3px#FACE44; */
    /* font-family: 'Raleway', sans-serif; */
    color: rgb(92, 91, 91);
    font-weight: bolder;
    margin: 10px;
  }
  
  .workhard h5 {
    font-size: 30px;
    /* text-shadow: 3px 3px #FACE44; */
    line-height: 50px;
    text-align: center;
    /* font-family: 'Raleway', sans-serif; */
    color: rgb(92, 91, 91);
    /* margin: 15px; */
  }
  
  /* playhard part */
  .profile2 {
    width: 100%;
    height: 60vh;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    /* background-image: url("../img/topimg4.gif"); */
    background-position: 30% 100%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-color: white;
    letter-spacing: 3px;
  }
  
  .playhard {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .playhard h2 {
    font-size: 40px;
    color: rgb(92, 91, 91);
    font-weight: bolder;
    margin: 10px;
  }
  
  .playhard h5 {
    font-size: 30px;
    color: rgb(92, 91, 91);
    line-height: 50px;
    text-align: center;
  }
  
  .gliderpic {
    position: relative;
    width: 70%;
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
    margin-left: 1%;
    margin-top: -5%;
    border-radius: 10%;
  }
  
  /* the hover picture part */
  .playhard {
    position: relative;
    width: 50%;
  }
  
  .overlay {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: white;
  }
  
  .playhard:hover .overlay {
    opacity: 1;
  }
  @media screen and (max-width: 768px) {
    .workhard,
    .playhard {
      height: 300px;
    }
    .workhardImg,
    .playhardImg {
      height: 300px;
    }
    .profile1 {
      height: 300px;
    }
    .profile2 {
      height: 300px;
    }
    .playhard h5,
    .workhard h5 {
      font-size: 25px;
      margin: 15px;
    }
    .overlay {
      top: 20%;
    }
  }
  @media screen and (max-width: 420px) {
    /* workhard and playharder part */
    .profile1,
    .profile2 {
      height: auto;
      letter-spacing: 2px;
      background: rgb(255, 255, 255, 0);
    }
  
    .profile1 {
      margin-top: 0px;
    }
  
    .workhard {
      width: 60%;
      position: absolute;
      margin-left: 40%;
    }
  
    .workhardImg,
    .playhardImg {
      width: 100%;
      height: auto;
    }
  
    .workhard h2 {
      font-size: 25px;
      margin: 5px;
    }
    .workhard h2:hover {
      font-size: 35px;
    }
  
    .workhard h5 {
      font-size: 15px;
      text-align: right;
      margin: 5px;
      line-height: 40px;
    }
  
    .workhard h5:hover {
      font-size: 20px;
    }
  
    .playhard {
      width: 45%;
      position: absolute;
      margin-left: 50px;
    }
  
    .playhardImg {
      z-index: -1;
    }
  
    .playhard h2 {
      font-size: 25px;
      z-index: 9;
    }
    .playhard h2:hover {
      font-size: 35px;
    }
  
    .playhard h5 {
      font-size: 15px;
      text-align: left;
      margin: 5px;
      line-height: 40px;
    }
  
    .overlay {
      display: none;
    }
  
    .playhard h5:hover {
      font-size: 20px;
    }
  
    .gliderpic {
      width: 90%;
      height: auto;
      margin-left: 20%;
    }
  
    .overlay {
      width: 90%;
      height: auto;
    }
  
    .playhard:hover .gliderpic {
      opacity: 0.8;
      margin-left: 20%;
    }
  }
  
  /* profile picture part */
  .profilecartoon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 10%;
  }
  
  /* cartoon picture */
  .profilecartoonimg {
    position: sticky;
    bottom: -2rem;
    align-self: center;
    height: auto;
    width: 150px;
    top: 40%;
    z-index: -1;
  }
  
  #introLine {
    background-color: #5CE1E6;
    opacity: 0.5;
    height: 100%;
    width: 10px;
    z-index: -3;
  }
  
  /* hover the cartoon profile and turn out real profile */
  .profilepic {
    position: absolute;
    width: 250px;
    pointer-events: none;
    transition: all 0.2s ease;
    border-radius: 30%;
    opacity: 1;
  }
  
  .profilepic2 {
    width: 160px;
    position: absolute;
  }
  
  .profilecartoon:hover .profilepic {
    opacity: 0;
    width: 0;
  }
  /* hover the cartoon profile and turn out real profile */
  
  /* personal statment part */
  #personalstatement {
    position: absolute;
    margin-top: 15%;
    width: 90%;
    color: rgb(92, 91, 91);
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 50px;
    text-shadow: 5px 1px white;
  }
  
  #personalstatement .left{
    width: 40%;
    text-align: right;
  }
  
  #personalstatement .right{
    margin-left: 60%;
    text-align: left;
  }

  
  @media screen and (max-width: 768px) {
    .profilecartoon {
      height: 130vh;
    }
    .profilecartoon h2 {
      line-height: 80px;
    }
  }
  
  @media screen and (max-width: 420px) {
    /* introduction part */
    .profilecartoonimg {
      width: 40px;
      top: 50%;
    }
    .profilecartoon {
      height: 110vh;
      margin-top: 20%;
    }
  
    .profilepic {
      width: 120px;
    }
  
    #personalstatement {
      height: 100vh;
      font-size: 10px;
      letter-spacing: 2px;
      line-height: 40px;
      text-shadow: 3px 1px white;
    }
    #personalstatement h2 {
      line-height: 40px;
    }
  
    #introLine {
      width: 8px;
    }
  }
  
  /* skill part */
  #skill {
    text-transform: uppercase;
    margin: 0 auto;
    display: flex;
    font-family: 'Unlock', cursive;
    letter-spacing: 5px;
    height: 100vh;
  }
  .skillBar {
    display: flex;
    flex-direction: column;
    color: rgb(92, 91, 91);
    letter-spacing: 3px;
    justify-content: center;
    align-items: flex-start;
    width: 42%;
    margin-left: 10%;
  }
  .skillBar meter::-webkit-meter-optimum-value {
    background-image: linear-gradient(25deg, #FACE44 45%, #5CE0E6 15%);
  }
  .skillBar meter {
    width: 80%;
  }
  
  #skill img {
    width: 76%;
    height: auto;
    border-radius: 50%;
    justify-content: center;
    align-self: center;
    background-blend-mode: saturation;
    /* filter: brightness(120%); */
  }
  
  .skillImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    #skill {
      flex-direction: column;
      width: 90%;
    }
    #skill img {
      width: 40%;
      height: auto;
      justify-content: center;
      align-self: flex-start;
      margin: 5% auto;
    }
  
    .skillBar {
      width: 90%;
      padding-left: 8%;
    }
  }
  @media screen and (max-width: 420px) {
    #skill {
      flex-direction: column;
      font-size: 10px;
      letter-spacing: 4px;
      height: 90vh;
    }
  
    #skill img {
      width: 50%;
      height: auto;
      justify-content: center;
      align-self: flex-start;
      margin: 5% auto;
    }
  
    .skillBar {
      width: 90%;
      padding-left: 10%;
    }
  }
  
  /* work .experience */
  
  /* the whole work experience block */
  #experience {
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(92, 91, 91);
    width: 100%;
    letter-spacing: 2px;
    justify-content: center;
  }
  
  #experienceTitle {
    width: 100%;
    margin: 0% auto;
    font-size: 70px;
    letter-spacing: 2px;
    color: rgb(92, 91, 91);
    text-shadow: white;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #lineExpDiv1 {
    width: 100%;
    height: 180vh;
    margin-bottom: 20px;
    display: flex;
    position: absolute;
    z-index: -6;
  }
  #introLineExp1 {
    z-index: 2;
    background-color: #5CE1E6;
    opacity: 0.5;
    height: 100%;
    width: 10px;
    display: flex;
    margin-left: 50%;
  }
  
  .profilecartoonimgExp {
    margin-left: -80px;
    position: sticky;
    bottom: 40%;
    align-self: center;
    height: auto;
    width: 150px;
    top: 30%;
    z-index: 3;
  }
  
  .egg {
    margin-left: -85px;  
    width: 160px;
    position: absolute;
    z-index: 4;
  }
  
  #unicornExp {
    margin-top: 5%;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }
  
  #starExp {
    margin-top: 13%;
    position: absolute;
    z-index: -2;
  }
  
  #mushroomExp {
    margin-top: 13%;
    border-radius: 50%;
    position: absolute;
    z-index: -2;
    height: 100px !important;
    width: 100px !important;
  }
  
  #dinasoExp {
    height: 100px !important;
    width: 100px !important;
    margin-top: 20%;
    position: absolute;
    z-index: -3;
  }
  /* experience on the right side */
  /* the whole block of one line */
  .experienceright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgb(92, 91, 91);
    width: 100%;
  }
  
  /* the blocks of h1 and h3 */
  .ex2018,
  .ex2016,
  .ex2013 {
    display: flex;
    align-items: center;
    width: 40%;
    height: 200px;
    border: 5px;
    border-color: rgb(92, 91, 91);
    background-color: rgb(255, 190, 184, 0.8);
    box-shadow: 5px 5px rgb(92, 91, 91);
    margin-left: 2%;
    font-size: 20px;
  }
  
  .ex2017,
  .ex2015,
  .ex2019 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 40%;
    height: 200px;
    border: 5px;
    border-color: rgb(92, 91, 91);
    background-color: rgb(53, 236, 158, 0.5);
    box-shadow: 5px 5px grey;
    margin-right: 2%;
  }
  
  /* words in the experience part */
  #experience h3 {
    text-shadow: 1px 1px white;
    margin: auto 5%;
    line-height: 30px;
    font-size: 17px;
  }
  
  #experience h3:hover {
    font-size: 20px;
    color: rgb(40, 80, 83);
  }
  
  /* experience tablet size */
  @media screen and (max-width: 768px) {
    #experience {
      height: 170vh;
    }
  
    #lineExpDiv1 {
      width: 100%;
      height: 170vh;
    }
  
    .ex2018,
    .ex2016,
    .ex2013 {
      width: 60%;
      height: 200px;
      margin: 5% 0;
      opacity: 0.9;
    }
    .ex2017,
    .ex2015,
    .ex2019 {
      width: 60%;
      height: 200px;
      opacity: 0.9;
    }
  
    #starExp {
      display: none;
    }
    #dinasoExp {
      display: none;
    }
  }
  /* experience handy size*/
  @media screen and (max-width: 420px) {
    #experienceTitle {
      font-size: 40px;
      align-items: center;
      height: 10vh;
    }
  
    #experience h3 {
      text-shadow: 1px 1px white;
      margin: auto 5%;
      line-height: 20px;
      font-size: 15px;
    }
  
    #lineExpDiv1 {
      height: 200vh;
    }
    .ex2018,
    .ex2016,
    .ex2013 {
      width: 80%;
      height: 150px;
      margin: 5% 0;
    }
    .ex2017,
    .ex2015,
    .ex2019 {
      margin-left: 20px;
      width: 80%;
      height: 150px;
      text-align: right;
    }
    .profilecartoonimgExp {
      height: auto;
      width: 60px;
      margin-left: -35px;
    }
    #unicornExp {
      display: none;
    }
  
    #starExp {
      display: none;
    }
  
    #mushroomExp {
      display: none;
    }
  
    #dinasoExp {
      display: none;
    }
  }
  
  /* projects part */
  .middlepic {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    /* height: 50vh; */
    /* background-image: url("../img/middlepic.gif"); */
    margin: 5% auto;
  }
  
  .middlepic p {
    font-size: 50px;
    margin: 0;
    letter-spacing: 3px;
    color: rgb(92, 91, 91);
  }
  
  /* the whole block for job examples */
  .example {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: rgb(92, 91, 91);
  }
  
  .example h2 {
    /* margin: 20px 10px 5px 0; */
    letter-spacing: 2.5px;
  }
  
  .example h4 {
    text-shadow: 1px 1px white;
    width: 100%;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 2.5px;
  }
  
  .example h3 {
    font-size: 18px;
  }
  
  @media screen and (max-width: 768px) {
    .middlepic {
      height: 30vh;
    }
  }
  @media screen and (max-width: 420px) {
    .middlepic {
      height: 10vh;
      background: white;
      margin: 0% auto;
    }
    .middlepic p {
      font-size: 40px;
    }
  }
  
  /* the block for one example including words and pic */
  /* wasatea block for example pics */
  
  #wasatea {
    width: 100%;
    height: 300vh;
  }
  /* .wasateapic {
    position: absolute;
    width: 100%;
    height: 400vh;
  } */
  #bigWasaLogoDiv {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #5CE1E6;
    font-size: 0px;
    text-shadow: 5px 5px rgb(92, 91, 91);
    text-align: center;
    letter-spacing: 5px;
    color: white;
    z-index: 10;
  }
  
  .wasateapic img {
    border-radius: 5%;
  }
  
  .wasatea h3 {
    font-size: 20px;
  }
  
  .wasaintro1 {
    width: 40%;
    margin: 3% 1%;
    line-height: 130%;
    letter-spacing: 2px;
    text-align: right;
  }
  .wasaintro2 {
    width: 40%;
    margin: 1% 1%;
    line-height: 130%;
    letter-spacing: 2px;
    margin-left: 60%;
  }
  
  /* wasateapart bubbles */
  
  #wasaLogo {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 10px solid white;
    margin-bottom: 5% auto;
    opacity: 0;
  }
  
  #bigWasaLogoDiv h1{
    opacity: 0;
  }
  
  #lineWasaDiv {
    width: 100%;
    height: 200vh;
    display: flex;
    position: absolute;
    z-index: -5;
  }
  
  #lineWasaDiv h5 {
    color: white;
  }
  
  #introLineWasa {
    z-index: 2;
    background-color: #5CE1E6;
    opacity: 0.5;
    height: 100%;
    width: 10px;
    display: flex;
    margin-left: 50%;
  }
  
  .cartoonimgWasa {
    margin-left: -50px;
    position: sticky;
    bottom: 30%;
    justify-content: center;
    align-self: center;
    height: auto;
    width: 100px;
    top: 50%;
    z-index: 3;
  }
  
  /* wasatea introduction part */
  @media screen and (max-width: 768px) {
    #bigWasaLogoDiv {
      height: 40vh;
    }
    #lineWasaDiv {
      height: 220vh;
    }
    .wasaintro1,
    .wasaintro2 {
      width: 42%;
    }
    .wasaintro2 {
      margin-left: 55%;
    }
    .cartoonimgWasa {
      opacity: 0.6;
    }
  }
  @media screen and (max-width: 420px) {
    #lineWasaDiv {
      height: 280vh;
    }
    #bigWasaLogoDiv {
      height: 60vh;
      align-items: center;
      letter-spacing: 3px;
    }
    #bigWasaLogoDiv h1 {
      font-size: 30px !important;
    }
    .wasatea h3 {
      width: 80%;
      font-size: 15px;
      margin: 10% auto;
      line-height: 180%;
      text-align: center;
      font-size: 15px;
    }
    .wasaintro2 {
      margin-left: 25%;
    }
    .cartoonimgWasa {
      opacity: 0.4;
    }
  }
  /* wasa image gallery */
  .teaimgDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .teaimgDiv video {
    margin: 0%;
    filter: brightness(110%);
  }
  
  .teaimg {
    width: 250px;
    height: 240px;
  }
  
  @media screen and (max-width: 768px) {
    .teaimgDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80vh;
    }
  }
  
  @media screen and (max-width: 420px) {
    .teaimgDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50vh;
      width: 100%;
    }
  
    .slideshow-containerwasa {
      padding: 0;
    }
    .mySlideswasa p {
      padding: 0 4%;
    }
  }
  
  .mySlideswasa {
    display: none;
  }
  
  .mySlideswasa p {
    font-size: 20px;
    color: rgb(92, 91, 91);
    letter-spacing: 2px;
    font-weight: bolder;
  }
  
  .mySlideswasa img {
    width: 80% !important;
    margin-left: 10%;
  }
  
  .mySlideswasa video {
    width: 80% !important;
    margin-left: 10%;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Slideshow container */
  .slideshow-containerwasa {
    max-width: 600px;
    position: relative;
    margin: auto;
  }
  
  @media screen and (max-width: 420px) {
    .slideshow-containerwasa {
      width: 100%;
    }
  }
  
  /* Next & previous buttons */
  .prevwasa,
  .nextwasa {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #5CE1E6;
  }
  
  /* Position the "next button" to the right */
  .nextwasa {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Number text (1/3 etc) */
  
  .active {
    background-color: rgb(92, 91, 91);
  }
  
  /* Fading animation */
  .fadewasa {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prevwasa,
    .nextwasa,
    .textwasa {
      font-size: 11px;
    }
  }
  
  /* media icon in wasatea*/
  #mediaIcon {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    font-size: 8px;
    margin: 0%;
    padding: 0%;
  }
  
  /* make the space between icons in wasatea */
  #mediaIcon li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    margin: 0 1%;
  }
  #mediaIcon img {
    width: 40px;
    margin: 0;
  }
  #mediaIcon li a {
    height: 30px;
    text-decoration: none;
  }
  
  @media screen and (max-width: 420px) {
    #mediaIcon h3 {
      height: 50px;
      display: flex;
      align-items: center;
    }
    .prevwasa,
    .nextwasa {
      padding: 10px;
    }
  }
  
  /* bd div */
  #blomedesign {
    width: 100%;
    height: 160vh;
  }
  #bigBdLogDiv {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FACE44;
    text-shadow: 5px 5px rgb(92, 91, 91);
    text-align: center;
    letter-spacing: 5px;
    color: white;
    z-index: 10;
    flex-direction: column;
  }
  #bigBdLogDiv h1 {
    font-size: 0px;
    opacity: 0;
  }
  
  #bdLogo {
    width: 0px;
    height: 0px;
    border-radius: 30%;
    opacity: 0;
    /* border: 15px solid #5CE1E6; */
  }
  
  #lineBdDiv {
    margin-top: -25%;
    width: 100%;
    height: 250vh;
    display: flex;
    position: absolute;
    z-index: -5;
  }
  
  #introLineBd {
    z-index: 2;
    background-color: #FACE44;
    opacity: 0.8;
    height: 100%;
    width: 10px;
    display: flex;
    margin-left: 50%;
  }
  
  .cartoonimgBD {
    margin-left: -75px;
    position: sticky;
    bottom: 30%;
    justify-content: center;
    align-self: center;
    height: auto;
    width: 130px;
    top: 50%;
    z-index: 3;
  }
  
  .blomepic {
    height: 260vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
  }
  
  .bdLeft {
    width: 50%;
  }
  .bdRight {
    width: 50%;
  }
  .triangle-up {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #FACE44;
    bottom: 0;
    margin: 0 10%;
  }
  
  .triangle-up1 {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid #FACE44;
    bottom: 0;
    margin-left: 30%;
  }
  
  .triangle-up2 {
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 240px solid #FACE44;
    bottom: 0;
    margin: 0 55%;
  }
  
  .triangle-up3 {
    width: 0;
    height: 0;
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
    border-bottom: 440px solid #FACE44;
    bottom: 0;
    margin: 0 5%;
  }
  
  .triangle-up-wallet {
    width: 460px;
    height: 460px;
    background: url('../img/logo.png');
    background-size: 42%;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    background-attachment: fixed;
    margin: 0 5%;
  }
  
  .triangle-up-bag {
    width: 500px;
    height: 500px;
    background: url('../img/creamy.png');
    background-size: 35%;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    background-attachment: fixed;
    margin: 0 10%;
  }
  
  .triangle-up-bottle {
    width: 450px;
    height: 450px;
    background: url('../img/borrow.png');
    background-size: 27%;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    background-attachment: fixed;
    margin: 0 10%;
  }
  #amazonDiv {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #amazonDiv h1 {
    justify-content: center;
    font-size: 20px;
    background: white;
    line-height: 100px;
    margin: 0 auto;
  }
  .amazon {
    width: 50%;
    height: auto;
    justify-content: center;
  }
  
  /* blomedesign tablet size */
  @media screen and (max-width: 768px) {
    #blomedesign {
      width: 100%;
      height: 130vh;
    }
  
    #bigBdLogDiv {
      height: 40vh;
    }
    #lineBdDiv {
      height: 120vh;
    }
  
    .blomepic {
      height: 120vh;
    }
  
    .cartoonimgBD {
      opacity: 0.6;
    }
    .triangle-up-wallet {
      width: 280px;
      height: 280px;
      background-size: 40%;
      margin: 0 5%;
    }
  
    .triangle-up-bag {
      width: 300px;
      height: 300px;
      background-size: 35%;
      margin: 0 10%;
    }
    .triangle-up-bottle {
      width: 270px;
      height: 270px;
      background-size: 25%;
      margin: 0 1%;
      margin-left: 15%;
    }
    .triangle-up {
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #FACE44;
      margin: 0 5%;
    }
  
    .triangle-up1 {
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      border-bottom: 140px solid #FACE44;
      margin-left: 15%;
    }
  
    .triangle-up2 {
      border-left: 120px solid transparent;
      border-right: 120px solid transparent;
      border-bottom: 240px solid #FACE44;
      bottom: 0;
      margin: 0 35%;
    }
  
    .triangle-up3 {
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-bottom: 200px solid #FACE44;
      margin: 0 5%;
    }
    #amazonDiv {
      height: 40vh;
    }
    #amazonDiv h1 {
      height: 10vh;
      font-size: 30px;
      line-height: 30px;
      display: flex;
      justify-content: center;
      margin: 5%;
      text-align: center;
    }
  }
  
  /* blome handy size */
  @media screen and (max-width: 420px) {
    /* blome logo */
    #blomedesign {
      height: 120vh;
    }
    #bigBdLogDiv {
      height: 60vh;
    }
    #bigBdLogDiv h1 {
      font-size: 30px !important;
    }
    .blomepic {
      height: 80vh;
    }
    .cartoonimgBD {
      opacity: 0.5;
    }
  
    #lineBdDiv {
      height: 180vh;
    }
    .triangle-up-wallet {
      width: 150px;
      height: 150px;
      background-size: 40%;
      margin: 0 5%;
    }
  
    .triangle-up-bag {
      width: 160px;
      height: 160px;
      background-size: 35%;
      margin: 0 10%;
    }
  
    .triangle-up {
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #FACE44;
      margin: 0 5%;
    }
  
    .triangle-up1 {
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      border-bottom: 140px solid #FACE44;
      margin-left: 15%;
    }
  
    .triangle-up2 {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 80px solid #FACE44;
      bottom: 0;
      margin: 0 35%;
    }
    .triangle-up-bottle {
      width: 180px;
      height: 180px;
      background-size: 30%;
      margin: 0 1%;
    }
    .triangle-up3 {
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      border-bottom: 140px solid #FACE44;
      margin: 0 5%;
    }
    #amazonDiv {
      height: 40vh;
    }
    #amazonDiv h1 {
      height: 10vh;
      font-size: 18px;
      line-height: 30px;
      display: flex;
      justify-content: center;
      margin: 5%;
      text-align: center;
    }
  
    .amazon {
      width: 90%;
    }
  }
  
  /* DCI bubble */
  
  #bigDciLogDiv {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #5CE1E6;
    text-shadow: 5px 5px rgb(92, 91, 91);
    text-align: center;
    letter-spacing: 5px;
    color: white;
  }
  
  #bigDciLogDiv h1 {
    font-size: 0px;
    opacity: 0;
  }
  
  #bigDciLogo {
    width: 0px;
    height: 0px;
    border-radius: 50%;
  }
  
  .dcipic {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .dcipic img {
    width: 90% !important;
    background-color: white;
    margin: 0 0 0 5%;
  }
  
  .projectShortcut {
    margin-top: 5%;
    width: 50%;
  }
  
  .example ul {
    list-style: none;
    display: flex;
    font-size: 20px;
    border-radius: 50%;
  }
  
  #lineDciDiv {
    margin-top: -10%;
    width: 100%;
    height: 150vh;
    display: flex;
    position: absolute;
    z-index: -5;
  }
  
  #lineDciDiv h5 {
    color: white;
  }
  
  #introLineDci {
    z-index: 2;
    background-color: #5CE1E6;
    opacity: 0.5;
    height: 100%;
    width: 10px;
    display: flex;
    margin-left: 50%;
  }
  
  .cartoonimgDci {
    margin-left: -50px;
    position: sticky;
    bottom: 30%;
    justify-content: center;
    align-self: center;
    height: auto;
    width: 120px;
    top: 50%;
    z-index: 3;
  }
  /* world cloud */
  
  .DCI {
    display: flex;
    flex-direction: row;
    height: 60vh;
  }
  #dcileft {
    justify-content: flex-end;
    align-self: center;
    width: 50%;
    height: 60vh;
  }
  
  #dciright {
    justify-content: flex-start;
    align-self: center;
    width: 50%;
    height: 60vh;
  }
  
  #dciright h1,
  #dcileft h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0%;
    margin-top: 10%;
  }
  
  #dcileft img {
    width: 50%;
    margin-left: 20%;
  }
  
  #dciright img {
    width: 50%;
    margin-left: 25%;
  }
  
  #itSkill:hover {
    width: 52%;
  }
  /* #itSkill {
    border-radius: 50%;
  } */
  
  #computerSkill:hover {
    width: 52%;
  }
  
  /* #computerSkill {
    border-radius: 50%;
  } */
  
  @media screen and (max-width: 768px) {
    #bigDciLogDiv {
      height: 40vh;
    }
    .DCI {
      height: 150vh;
      flex-direction: column;
    }
    #dcileft h1 {
      font-size: 30px;
      background: white;
    }
  
    #dciright h1 {
      font-size: 30px;
      background: white;
    }
  
    .cartoonimgDci {
      opacity: 0.5;
      width: 100px;
    }
    #dcileft {
      width: 100%;
    }
    #dciright {
      width: 100%;
      margin-top: 10%;
    }
  
    .dcipic {
      height: 70vh;
    }
  
    #dciright img {
      width: 80%;
      margin-left: 10%;
    }
  
    #itSkill:hover {
      width: 85%;
    }
  
    #computerSkill:hover {
      width: 85%;
    }
    .containerdci {
      width: 100%;
    }
  }
  @media screen and (max-width: 420px) {
    #bigDciLogDiv {
      height: 60vh;
    }
    #bigDciLogDiv h1 {
      font-size: 30px !important;
    }
    .DCI {
      flex-direction: column;
      height: 115vh;
    }
    #lineDciDiv {
      margin-top: -30%;
    }
    #dcileft h1 {
      font-size: 20px;
      background: white;
    }
    #dciright h1 {
      font-size: 20px;
      background: white;
    }
    .cartoonimgDci {
      opacity: 0.5;
      width: 100px;
    }
    #dcileft {
      width: 95%;
      height: 60vh;
    }
    #dciright {
      width: 95%;
      height: 60vh;
    }
  
    .dcipic {
      height: 40vh;
    }
    #dcileft img {
      width: 90%;
      margin-left: 0;
    }
  }
  
  /* dci slideshow */
  
  .rowdci img {
    vertical-align: middle;
    margin: 0;
    height: 100px;
    margin: 6%;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .containerdci {
    box-sizing: border-box;
    position: relative;
    width: 60%;
  }
  
  /* Hide the images by default */
  .mySlidesdci {
    margin-top: 3%;
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursordci {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prevdci,
  .nextdci {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: #5CE1E6;
  }
  
  /* Position the "next button" to the right */
  .nextdci {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a background color with a little bit see-through */
  .prevdci:hover,
  .nextdci:hover {
    background-color: #5CE1E6(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertextdci {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-containerdci {
    text-align: center;
    background-color: #5CE1E6;
    color: white;
    text-shadow: 3px 3px rgb(92, 91, 91);
    letter-spacing: 3px;
    width: 100%;
    font-size: 30px;
  }
  
  .caption-containerdci p {
    margin: 1% auto;
  }
  
  .rowdci {
    background: white;
    display: flex;
    justify-content: center;
  }
  
  .rowdci:after {
    content: '';
    display: table;
    clear: both;
  }
  
  /* language Logo columns side by side */
  .columndci {
    float: left;
    width: 6.5%;
    margin: 0 1%;
  }
  .columndci img {
    height: auto;
    align-self: center;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demodci {
    opacity: 0.3;
  }
  .active,
  .demodci:hover {
    opacity: 1;
  }
  
  /* dci slideshow */
  @media screen and (max-width: 420px) {
    /* .dcipic img {
      width: 60%;
    } */
  
    #captiondci {
      font-size: 20px;
    }
    .containerdci {
      width: 100%;
    }
    .columndci {
      width: 10.5%;
      margin: 0 0.1%;
    }
    .prevdci,
    .nextdci {
      top: 70%;
      padding: 10px;
      font-size: 10px;
    }
  }
  
  /* contact part */
  
  /* Contact div */
  #personalcontact {
    width: 100%;
    height: 20vh;
  }
  #bigContactDiv {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FACE44;
    text-shadow: 5px 5px rgb(92, 91, 91);
    text-align: center;
    letter-spacing: 5px;
    color: white;
    z-index: 10;
    flex-direction: column;
  }
  #bigContactDiv h1 {
    font-size: 0px;
    opacity: 0;
  }
  
  #contactLogo {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    opacity: 0;
    /* border: 15px solid #5CE1E6; */
  }
  
  #lineContactDiv {
    margin-top: -25%;
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: -5;
  }
  
  #introLineContact {
    z-index: 2;
    background-color: #FACE44;
    opacity: 0.8;
    height: 100%;
    width: 10px;
    display: flex;
    margin-left: 50%;
  }
  
  .cartoonimgContact {
    margin-left: -55px;
    position: sticky;
    bottom: 30%;
    justify-content: center;
    align-self: center;
    height: auto;
    width: 100px;
    top: 50%;
    z-index: 3;
  }
  
  /* #contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    background-color: #5CE1E6;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    justify-content: center;
    line-height: 60px;
  }
  #contact nav img {
    width: 40px;
  }
  #contact ul {
    padding: 0%;
    margin: 0%;
  }
  #contact li {
    margin: 0;
    margin-right: 5%;
  } */
  
  .contactdetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    width: 80%;
  }
  
  .contactdetail p {
    margin: 10px;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 0;
  }
  
  .contactdetail h3 {
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 20px;
    margin-left: 0;
  }
  
  .contactpic {
    background-image: url('../img/contact.gif');
    line-height: 20px;
  }
  
  /* email link setup */
  
  .email:link {
    color: rgb(92, 91, 91);
    text-decoration: rgb(92, 91, 91);
  }
  
  .email:hover {
    font-size: 20px;
  }
  /* contact tablet size */
  @media screen and (max-width: 768px) {
    .contactdetail {
      width: 80%;
    }
    .contactdetail h3 {
      font-size: 25px;
    }
  }
  /* contact handy size */
  @media screen and (max-width: 420px) {
    #contact {
      flex-direction: column;
      font-size: 18px;
    }
    #bigContactDiv h1 {
      font-size: 30px !important;
    }
    .contactdetail {
      width: 80%;
      height: 50vh;
      margin-top: 5%;
    }
    .contactpic {
      display: none;
    }
    .contactdetail p {
      font-size: 30px;
    }
    .contactdetail h3 {
      width: 100%;
      line-height: 30px;
      margin-top: 0%;
      font-size: 15px;
    }
  }
  
  /* contacts array part */
  #contacts {
    text-align: center;
    color: rgb(92, 91, 91);
    text-shadow: none;
  }
  
  #contacts img {
    width: 30px;
    margin: 0 0.5%;
  }
  
  footer h3 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: rgb(92, 91, 91);
  }
  @media screen and (max-width: 420px) {
    footer h3 {
      font-size: 15px;
    }
  }
  /* return to top arrow */
  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(92, 91, 91);
    background: rgb(73, 73, 73, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top:hover {
    background: rgb(92, 91, 91);
  }
  #return-to-top:hover i {
    color: #fff;
    top: 5px;
  }
  
  /* 
              <section id="contact">
  
  <div class="contactdetail" id='contacts'>
  <p>Get In Touch.</p>
  <h3>Life is not a competition, life is a self-accomplishment.
      <br>
      <!-- For partnership, business inquires, or talks with me about your ideas:  -->
      
      <a
          href="mailto:beatrixyublome@gmail.com" class="email"> beatrixyublome@gmail.com</a></h3>
  <!-- nav>ul>li*2>a>lorem1 -->
  <nav>
      <ul>
          <li><a href="https://www.linkedin.com/in/beatrix-m-b-66b081a8/" target="_blank"><img
                      src="img/linkedin (1).png" alt="linkedin"></a>
          </li>
          <li><a href="https://www.xing.com/profile/BeatrixM_Blome/cv?sc_o=mxb_p" target="_blank"><img
                      src="img/xing (3).png" alt="xing"></a>
          </li>
          <li><a href="https://github.com/beatrixyu?tab=repositories" target="_blank"><img
                      src="img/github (1).png" alt="xing"></a>
          </li>
      </ul>
  </nav>
  
  </div> */
  